<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5">

	<listeners>
		<listener class-name="listners.TestListners"></listener>
	</listeners>

	<test thread-count="5" name="TestChrome">
		<parameter name="browser" value="chrome"></parameter>

		<groups>
			<run>
				<exclude name="smoke"></exclude>
				<exclude name="regression"></exclude>

			</run>
		</groups>

		<classes>
			<class name="tests.SignupTest">
			</class>
		</classes>
	</test>
</suite> 
